@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
  background-color: #fdfdfd;
  font-size: 1rem;
}
header {
  color: white;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 35vh;
  height: 100vh;
  background-color: #333;
  background-image: url("../images/header.jpg");
  background-blend-mode: screen;
  background-size: cover;
  /* background-position: center; */
}

header h1 {
  font-weight: 200;
  font-size: 8rem;
  letter-spacing: 1rem;
  margin-bottom: 0.5rem;
}

header h4 {
  color: #fff;
  font-weight: 400;
  line-height: 0.9;
  font-size: 2rem;
  margin-bottom: 1rem;
}

header h6 {
  color: #fff;
  font-size: 0.75rem;
}

.bg-light-2 {
  background-color: #dfdfdf;
}

.bg-gray {
  background-color: #cfd9df;
  /* background-color: #979a9d; */
}

.breadcrumb1 {
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-color: #cfd9df;
  border-radius: 0.25rem;
}

table td a {
  text-decoration: none;
  word-wrap: break-word;
}

.overflow-x-scroll {
  word-wrap: break-word;
  word-break: break-all;
  overflow-x: scroll !important;
}

pre {
  overflow: none !important;
}

.cursor-pointer {
  cursor: pointer;
}
