/*!
 * @version : 1.0
 * @date    : Nov 23, 2014, 1:48:03 PM
 * @author  : SKR
 */

@charset 'UTF-8';
@font-face {
   font-family: 'TypeIcons';
   font-weight: normal;
   font-style: normal;
   src: url('typicons.eot');
   src: url('typicons.eot?#iefix') format('embedded-opentype'),
        url('typicons.woff') format('woff'),
        url('typicons.ttf') format('truetype'),
        url('typicons.svg#typicons') format('svg');
 }
/*:before psuedo-selector inserts and styles icon*/
.ti {
   display: inline-block;
   font-family: TypeIcons;
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
.ti-lg {
   font-size: 1.3333333333333333em;
   line-height: .75em;
   vertical-align: -15%;
}
.ti-2x { font-size: 2em; }
.ti-3x { font-size: 3em; }
.ti-4x { font-size: 4em; }
.ti-5x { font-size: 5em; }

.ti-adjust-brightness:before { content: '\e000' }
.ti-adjust-contrast:before { content: '\e001' }
.ti-anchor-outline:before { content: '\e002' }
.ti-anchor:before { content: '\e003' }
.ti-archive:before { content: '\e004' }
.ti-arrow-back-outline:before { content: '\e005' }
.ti-arrow-back:before { content: '\e006' }
.ti-arrow-down-outline:before { content: '\e007' }
.ti-arrow-down-thick:before { content: '\e008' }
.ti-arrow-down:before { content: '\e009' }
.ti-arrow-forward-outline:before { content: '\e00a' }
.ti-arrow-forward:before { content: '\e00b' }
.ti-arrow-left-outline:before { content: '\e00c' }
.ti-arrow-left-thick:before { content: '\e00d' }
.ti-arrow-left:before { content: '\e00e' }
.ti-arrow-loop-outline:before { content: '\e00f' }
.ti-arrow-loop:before { content: '\e010' }
.ti-arrow-maximise-outline:before { content: '\e011' }
.ti-arrow-maximise:before { content: '\e012' }
.ti-arrow-minimise-outline:before { content: '\e013' }
.ti-arrow-minimise:before { content: '\e014' }
.ti-arrow-move-outline:before { content: '\e015' }
.ti-arrow-move:before { content: '\e016' }
.ti-arrow-repeat-outline:before { content: '\e017' }
.ti-arrow-repeat:before { content: '\e018' }
.ti-arrow-right-outline:before { content: '\e019' }
.ti-arrow-right-thick:before { content: '\e01a' }
.ti-arrow-right:before { content: '\e01b' }
.ti-arrow-shuffle:before { content: '\e01c' }
.ti-arrow-sorted-down:before { content: '\e01d' }
.ti-arrow-sorted-up:before { content: '\e01e' }
.ti-arrow-sync-outline:before { content: '\e01f' }
.ti-arrow-sync:before { content: '\e020' }
.ti-arrow-unsorted:before { content: '\e021' }
.ti-arrow-up-outline:before { content: '\e022' }
.ti-arrow-up-thick:before { content: '\e023' }
.ti-arrow-up:before { content: '\e024' }
.ti-at:before { content: '\e025' }
.ti-attachment-outline:before { content: '\e026' }
.ti-attachment:before { content: '\e027' }
.ti-backspace-outline:before { content: '\e028' }
.ti-backspace:before { content: '\e029' }
.ti-battery-charge:before { content: '\e02a' }
.ti-battery-full:before { content: '\e02b' }
.ti-battery-high:before { content: '\e02c' }
.ti-battery-low:before { content: '\e02d' }
.ti-battery-mid:before { content: '\e02e' }
.ti-beaker:before { content: '\e02f' }
.ti-beer:before { content: '\e030' }
.ti-bell:before { content: '\e031' }
.ti-book:before { content: '\e032' }
.ti-bookmark:before { content: '\e033' }
.ti-briefcase:before { content: '\e034' }
.ti-brush:before { content: '\e035' }
.ti-business-card:before { content: '\e036' }
.ti-calculator:before { content: '\e037' }
.ti-calendar-outline:before { content: '\e038' }
.ti-calendar:before { content: '\e039' }
.ti-camera-outline:before { content: '\e03a' }
.ti-camera:before { content: '\e03b' }
.ti-cancel-outline:before { content: '\e03c' }
.ti-cancel:before { content: '\e03d' }
.ti-chart-area-outline:before { content: '\e03e' }
.ti-chart-area:before { content: '\e03f' }
.ti-chart-bar-outline:before { content: '\e040' }
.ti-chart-bar:before { content: '\e041' }
.ti-chart-line-outline:before { content: '\e042' }
.ti-chart-line:before { content: '\e043' }
.ti-chart-pie-outline:before { content: '\e044' }
.ti-chart-pie:before { content: '\e045' }
.ti-chevron-left-outline:before { content: '\e046' }
.ti-chevron-left:before { content: '\e047' }
.ti-chevron-right-outline:before { content: '\e048' }
.ti-chevron-right:before { content: '\e049' }
.ti-clipboard:before { content: '\e04a' }
.ti-cloud-storage-outline:before { content: '\e054' }
.ti-cloud-storage:before { content: '\e04b' }
.ti-code-outline:before { content: '\e04c' }
.ti-code:before { content: '\e04d' }
.ti-coffee:before { content: '\e04e' }
.ti-cog-outline:before { content: '\e04f' }
.ti-cog:before { content: '\e050' }
.ti-compass:before { content: '\e051' }
.ti-contacts:before { content: '\e052' }
.ti-credit-card:before { content: '\e053' }
.ti-css3:before { content: '\e055' }
.ti-database:before { content: '\e056' }
.ti-delete-outline:before { content: '\e057' }
.ti-delete:before { content: '\e058' }
.ti-device-desktop:before { content: '\e059' }
.ti-device-laptop:before { content: '\e05a' }
.ti-device-phone:before { content: '\e05b' }
.ti-device-tablet:before { content: '\e05c' }
.ti-directions:before { content: '\e05d' }
.ti-divide-outline:before { content: '\e05e' }
.ti-divide:before { content: '\e05f' }
.ti-document-add:before { content: '\e060' }
.ti-document-delete:before { content: '\e061' }
.ti-document-text:before { content: '\e062' }
.ti-document:before { content: '\e063' }
.ti-download-outline:before { content: '\e064' }
.ti-download:before { content: '\e065' }
.ti-dropbox:before { content: '\e066' }
.ti-edit:before { content: '\e067' }
.ti-eject-outline:before { content: '\e068' }
.ti-eject:before { content: '\e069' }
.ti-equals-outline:before { content: '\e06a' }
.ti-equals:before { content: '\e06b' }
.ti-export-outline:before { content: '\e06c' }
.ti-export:before { content: '\e06d' }
.ti-eye-outline:before { content: '\e06e' }
.ti-eye:before { content: '\e06f' }
.ti-feather:before { content: '\e070' }
.ti-film:before { content: '\e071' }
.ti-filter:before { content: '\e072' }
.ti-flag-outline:before { content: '\e073' }
.ti-flag:before { content: '\e074' }
.ti-flash-outline:before { content: '\e075' }
.ti-flash:before { content: '\e076' }
.ti-flow-children:before { content: '\e077' }
.ti-flow-merge:before { content: '\e078' }
.ti-flow-parallel:before { content: '\e079' }
.ti-flow-switch:before { content: '\e07a' }
.ti-folder-add:before { content: '\e07b' }
.ti-folder-delete:before { content: '\e07c' }
.ti-folder-open:before { content: '\e07d' }
.ti-folder:before { content: '\e07e' }
.ti-gift:before { content: '\e07f' }
.ti-globe-outline:before { content: '\e080' }
.ti-globe:before { content: '\e081' }
.ti-group-outline:before { content: '\e082' }
.ti-group:before { content: '\e083' }
.ti-headphones:before { content: '\e084' }
.ti-heart-full-outline:before { content: '\e085' }
.ti-heart-half-outline:before { content: '\e086' }
.ti-heart-outline:before { content: '\e087' }
.ti-heart:before { content: '\e088' }
.ti-home-outline:before { content: '\e089' }
.ti-home:before { content: '\e08a' }
.ti-html5:before { content: '\e08b' }
.ti-image-outline:before { content: '\e08c' }
.ti-image:before { content: '\e08d' }
.ti-infinity-outline:before { content: '\e08e' }
.ti-infinity:before { content: '\e08f' }
.ti-info-large-outline:before { content: '\e090' }
.ti-info-large:before { content: '\e091' }
.ti-info-outline:before { content: '\e092' }
.ti-info:before { content: '\e093' }
.ti-input-checked-outline:before { content: '\e094' }
.ti-input-checked:before { content: '\e095' }
.ti-key-outline:before { content: '\e096' }
.ti-key:before { content: '\e097' }
.ti-keyboard:before { content: '\e098' }
.ti-leaf:before { content: '\e099' }
.ti-lightbulb:before { content: '\e09a' }
.ti-link-outline:before { content: '\e09b' }
.ti-link:before { content: '\e09c' }
.ti-location-arrow-outline:before { content: '\e09d' }
.ti-location-arrow:before { content: '\e09e' }
.ti-location-outline:before { content: '\e09f' }
.ti-location:before { content: '\e0a0' }
.ti-lock-closed-outline:before { content: '\e0a1' }
.ti-lock-closed:before { content: '\e0a2' }
.ti-lock-open-outline:before { content: '\e0a3' }
.ti-lock-open:before { content: '\e0a4' }
.ti-mail:before { content: '\e0a5' }
.ti-map:before { content: '\e0a6' }
.ti-media-eject-outline:before { content: '\e0a7' }
.ti-media-eject:before { content: '\e0a8' }
.ti-media-fast-forward-outline:before { content: '\e0a9' }
.ti-media-fast-forward:before { content: '\e0aa' }
.ti-media-pause-outline:before { content: '\e0ab' }
.ti-media-pause:before { content: '\e0ac' }
.ti-media-play-outline:before { content: '\e0ad' }
.ti-media-play-reverse-outline:before { content: '\e0ae' }
.ti-media-play-reverse:before { content: '\e0af' }
.ti-media-play:before { content: '\e0b0' }
.ti-media-record-outline:before { content: '\e0b1' }
.ti-media-record:before { content: '\e0b2' }
.ti-media-rewind-outline:before { content: '\e0b3' }
.ti-media-rewind:before { content: '\e0b4' }
.ti-media-stop-outline:before { content: '\e0b5' }
.ti-media-stop:before { content: '\e0b6' }
.ti-message-typing:before { content: '\e0b7' }
.ti-message:before { content: '\e0b8' }
.ti-messages:before { content: '\e0b9' }
.ti-microphone-outline:before { content: '\e0ba' }
.ti-microphone:before { content: '\e0bb' }
.ti-minus-outline:before { content: '\e0bc' }
.ti-minus:before { content: '\e0bd' }
.ti-mortar-board:before { content: '\e0be' }
.ti-news:before { content: '\e0bf' }
.ti-notes-outline:before { content: '\e0c0' }
.ti-notes:before { content: '\e0c1' }
.ti-pen:before { content: '\e0c2' }
.ti-pencil:before { content: '\e0c3' }
.ti-phone-outline:before { content: '\e0c4' }
.ti-phone:before { content: '\e0c5' }
.ti-pi-outline:before { content: '\e0c6' }
.ti-pi:before { content: '\e0c7' }
.ti-pin-outline:before { content: '\e0c8' }
.ti-pin:before { content: '\e0c9' }
.ti-pipette:before { content: '\e0ca' }
.ti-plane-outline:before { content: '\e0cb' }
.ti-plane:before { content: '\e0cc' }
.ti-plug:before { content: '\e0cd' }
.ti-plus-outline:before { content: '\e0ce' }
.ti-plus:before { content: '\e0cf' }
.ti-point-of-interest-outline:before { content: '\e0d0' }
.ti-point-of-interest:before { content: '\e0d1' }
.ti-power-outline:before { content: '\e0d2' }
.ti-power:before { content: '\e0d3' }
.ti-printer:before { content: '\e0d4' }
.ti-puzzle-outline:before { content: '\e0d5' }
.ti-puzzle:before { content: '\e0d6' }
.ti-radar-outline:before { content: '\e0d7' }
.ti-radar:before { content: '\e0d8' }
.ti-refresh-outline:before { content: '\e0d9' }
.ti-refresh:before { content: '\e0da' }
.ti-rss-outline:before { content: '\e0db' }
.ti-rss:before { content: '\e0dc' }
.ti-scissors-outline:before { content: '\e0dd' }
.ti-scissors:before { content: '\e0de' }
.ti-shopping-bag:before { content: '\e0df' }
.ti-shopping-cart:before { content: '\e0e0' }
.ti-social-at-circular:before { content: '\e0e1' }
.ti-social-dribbble-circular:before { content: '\e0e2' }
.ti-social-dribbble:before { content: '\e0e3' }
.ti-social-facebook-circular:before { content: '\e0e4' }
.ti-social-facebook:before { content: '\e0e5' }
.ti-social-flickr-circular:before { content: '\e0e6' }
.ti-social-flickr:before { content: '\e0e7' }
.ti-social-github-circular:before { content: '\e0e8' }
.ti-social-github:before { content: '\e0e9' }
.ti-social-google-plus-circular:before { content: '\e0ea' }
.ti-social-google-plus:before { content: '\e0eb' }
.ti-social-instagram-circular:before { content: '\e0ec' }
.ti-social-instagram:before { content: '\e0ed' }
.ti-social-last-fm-circular:before { content: '\e0ee' }
.ti-social-last-fm:before { content: '\e0ef' }
.ti-social-linkedin-circular:before { content: '\e0f0' }
.ti-social-linkedin:before { content: '\e0f1' }
.ti-social-pinterest-circular:before { content: '\e0f2' }
.ti-social-pinterest:before { content: '\e0f3' }
.ti-social-skype-outline:before { content: '\e0f4' }
.ti-social-skype:before { content: '\e0f5' }
.ti-social-tumbler-circular:before { content: '\e0f6' }
.ti-social-tumbler:before { content: '\e0f7' }
.ti-social-twitter-circular:before { content: '\e0f8' }
.ti-social-twitter:before { content: '\e0f9' }
.ti-social-vimeo-circular:before { content: '\e0fa' }
.ti-social-vimeo:before { content: '\e0fb' }
.ti-social-youtube-circular:before { content: '\e0fc' }
.ti-social-youtube:before { content: '\e0fd' }
.ti-sort-alphabetically-outline:before { content: '\e0fe' }
.ti-sort-alphabetically:before { content: '\e0ff' }
.ti-sort-numerically-outline:before { content: '\e100' }
.ti-sort-numerically:before { content: '\e101' }
.ti-spanner-outline:before { content: '\e102' }
.ti-spanner:before { content: '\e103' }
.ti-spiral:before { content: '\e104' }
.ti-star-full-outline:before { content: '\e105' }
.ti-star-half-outline:before { content: '\e106' }
.ti-star-half:before { content: '\e107' }
.ti-star-outline:before { content: '\e108' }
.ti-star:before { content: '\e109' }
.ti-starburst-outline:before { content: '\e10a' }
.ti-starburst:before { content: '\e10b' }
.ti-stopwatch:before { content: '\e10c' }
.ti-support:before { content: '\e10d' }
.ti-tabs-outline:before { content: '\e10e' }
.ti-tag:before { content: '\e10f' }
.ti-tags:before { content: '\e110' }
.ti-th-large-outline:before { content: '\e111' }
.ti-th-large:before { content: '\e112' }
.ti-th-list-outline:before { content: '\e113' }
.ti-th-list:before { content: '\e114' }
.ti-th-menu-outline:before { content: '\e115' }
.ti-th-menu:before { content: '\e116' }
.ti-th-small-outline:before { content: '\e117' }
.ti-th-small:before { content: '\e118' }
.ti-thermometer:before { content: '\e119' }
.ti-thumbs-down:before { content: '\e11a' }
.ti-thumbs-ok:before { content: '\e11b' }
.ti-thumbs-up:before { content: '\e11c' }
.ti-tick-outline:before { content: '\e11d' }
.ti-tick:before { content: '\e11e' }
.ti-ticket:before { content: '\e11f' }
.ti-time:before { content: '\e120' }
.ti-times-outline:before { content: '\e121' }
.ti-times:before { content: '\e122' }
.ti-trash:before { content: '\e123' }
.ti-tree:before { content: '\e124' }
.ti-upload-outline:before { content: '\e125' }
.ti-upload:before { content: '\e126' }
.ti-user-add-outline:before { content: '\e127' }
.ti-user-add:before { content: '\e128' }
.ti-user-delete-outline:before { content: '\e129' }
.ti-user-delete:before { content: '\e12a' }
.ti-user-outline:before { content: '\e12b' }
.ti-user:before { content: '\e12c' }
.ti-vendor-android:before { content: '\e12d' }
.ti-vendor-apple:before { content: '\e12e' }
.ti-vendor-microsoft:before { content: '\e12f' }
.ti-video-outline:before { content: '\e130' }
.ti-video:before { content: '\e131' }
.ti-volume-down:before { content: '\e132' }
.ti-volume-mute:before { content: '\e133' }
.ti-volume-up:before { content: '\e134' }
.ti-volume:before { content: '\e135' }
.ti-warning-outline:before { content: '\e136' }
.ti-warning:before { content: '\e137' }
.ti-watch:before { content: '\e138' }
.ti-waves-outline:before { content: '\e139' }
.ti-waves:before { content: '\e13a' }
.ti-weather-cloudy:before { content: '\e13b' }
.ti-weather-downpour:before { content: '\e13c' }
.ti-weather-night:before { content: '\e13d' }
.ti-weather-partly-sunny:before { content: '\e13e' }
.ti-weather-shower:before { content: '\e13f' }
.ti-weather-snow:before { content: '\e140' }
.ti-weather-stormy:before { content: '\e141' }
.ti-weather-sunny:before { content: '\e142' }
.ti-weather-windy-cloudy:before { content: '\e143' }
.ti-weather-windy:before { content: '\e144' }
.ti-wi-fi-outline:before { content: '\e145' }
.ti-wi-fi:before { content: '\e146' }
.ti-wine:before { content: '\e147' }
.ti-world-outline:before { content: '\e148' }
.ti-world:before { content: '\e149' }
.ti-zoom-in-outline:before { content: '\e14a' }
.ti-zoom-in:before { content: '\e14b' }
.ti-zoom-out-outline:before { content: '\e14c' }
.ti-zoom-out:before { content: '\e14d' }
.ti-zoom-outline:before { content: '\e14e' }
.ti-zoom:before { content: '\e14f' }